.contentandimagecontainer {
  display: flex;
  border-bottom: 1px solid goldenrod;
}
.contentcontainer {
  margin: 7%;
}
.title {
  color: crimson;
  font-size: 1.15rem;
}
.subtitle {
  color: black;
  font-size: 3.15rem;
  font-weight: bold;
}
.paragraph {
  font-weight: 200;
}
.bodybuttoncontainer {
  display: flex;
  gap: 10%;
  align-items: center;
}
.youtubeiconcontainer {
  display: flex;
  gap: 10px;
}
.playdemotext {
  font-family: cursive;
  font-size: 11px;
  font-weight: 200;
}
.categorytext {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.subcategorytxt {
  text-align: center;
  font-size: 2.19rem;
  font-family: serif;
}
.maincardcontainer {
  display: flex;
  gap: 13px;
  margin: 2%;
}
